body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/274/712/957/smooth-silky-colorful-cgi-wallpaper-preview.jpg);
    background-size:cover;
    }
#welcoming{
    color: rgb(255, 255, 1);
    background-color:rgb(255, 61, 226) ;
   position : absolute;
   margin-left:575px;
   margin-top: 200px;
}
#start{
    margin-left: 742px;
    margin-top: 540px;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ff41ff;
    color: rgb(255, 255, 0);
}
#next{
    margin-left: 950px;
    margin-top: 500px;
    outline: none;
    cursor: pointer;
    position: absolute;
    background: #ff41ff;
    color: rgb(255, 255, 0);
}
#score{
    margin-left: 1400px;
    margin-top: 30px;
}
#scorecount{
    margin-left: 1400px;
    margin-top: 10px;

}
#gojo{
    width: 500px;
    position: absolute;
    margin-left: 505px;
    margin-top: -50px;
}
#answers{
    margin-top: 350px;
    margin-left: 300px;
    position: absolute;
    font-size: 30px;

}
 



